.container-fluid {
    background-color: #000;
}



.navbar {
    background: transparent !important;
}

.coloricons {
    color: #fff;
}

hr {
    border-top: 1px solid #00aae4;
}

.tarjeta2 {
    height: 11rem;
}